.upper {
  font-weight: bold;
  font-size: 32px;
}

.pseudo::first-letter {
  font-weight: bold;
  font-size: 32px;
}

.pseudo::first-line {
  font-size: 24px;
}

.pseudo::selection {
  background: pink;
}

.pseudo::before {
  content: "...";
  /* content: "";
  display: block;
  height: 10px;
  background: red; */
}

.pseudo::after {
  content: "***";
}
